<footer class=" foot">
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-4 my-2">
        <div class="item text-center text-white">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-sm-4 my-2">
        <div class="item text-center text-white">
          <h3>AROUND THE WEB</h3>
          <div class="icons d-flex align-items-center justify-content-center">
            <div
              class="media d-flex align-items-center justify-content-center mx-2"
            >
              <i class="fa-brands fa-facebook icon"></i>
            </div>
            <div
              class="media d-flex align-items-center justify-content-center mx-2"
            >
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div
              class="media d-flex align-items-center justify-content-center mx-2"
            >
              <i class="fa-brands fa-linkedin"></i>
            </div>
            <div
              class="media d-flex align-items-center justify-content-center mx-2"
            >
              <i class="fa-solid fa-globe"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-2">
        <div class="item text-center text-white">
          <h3>ABOUT FREELANCER</h3>
          <p>Freelance is a free to use,licensed Bootstrap</p>
          <p>created by Ahmed Fathy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="lastf text-white text-center py-3">
    <h5>Copyright © Your Website 2021</h5>
  </div>
</footer>
