<main class="d-flex justify-content-center align-items-center flex-column">
  <section>
    <div class="header d-flex justify-content-center align-items-center flex-column">
      <h1 class="text-uppercase mb-3 fs-1 fw-bolder text-white my-2">
        about component
      </h1>
      <div class="main-line d-flex justify-content-center align-items-center">
        <div class="line mx-2"></div>
        <i class="fa-solid fa-star text-white mx-2"></i>
        <div class="line mx-2"></div>
      </div>
    </div>
    <div class="text m-auto py-4 text-white w-75 d-flex justify-content-center align-items-center">
      <div class="text1 mx-5">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="text2">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </section>
</main>
