.line {
  height: 4px;
  width: 80px;
  background-color: rgb(44, 62, 80);
}
i {
  color: rgb(44, 62, 80);
}
h1 {
  color: rgb(44, 62, 80);
}
label {
position: absolute;
top: 25%;
  color: #1abc9c;
  margin-bottom: 7px;
  transition: 0.6s all;
}
