<main>
  <section
    class="vh-100 d-flex justify-content-center align-items-center flex-column"
  >
    <img src="/img/Untitled design.jpg" alt="" width="150" class="ro" />
    <h1 class="text-uppercase mb-3 fs-1 fw-bolder text-white my-2">
      start Framework
    </h1>
    <div class="main-line d-flex justify-content-center align-items-center">
      <div class="line mx-2"></div>
      <i class="fa-solid fa-star text-white mx-2"></i>
      <div class="line mx-2"></div>
    </div>
    <p class="text-uppercase mb-3 fw-bolder text-white my-2">
      Graphic Artist - Web Designer - Illustrator
    </p>
  </section>
</main>
